{% extends 'blog/base.html' %}

{% block content %}

<div class='coverreg'>

    <h3>Вход в личный кабинет:</h3><br>

    {% if form.errors %}
    {{ form.errors.error }}
    {% endif %}

    <form action="{% url 'login' %}" method='post'>
        {{ form.as_p }}
        {% csrf_token %}
        <p>
            <button class="btn btn-default btn-lg" type="submit">Войти</button>
        </p>
    </form>
    <br>

    <h1><a href="{% url 'register' %}">Регистрация</a></h1>
    <h1><a href="{% url 'password_reset1' %}">Забыли пароль?</a></h1>

</div>
{% endblock %}