{% load static %}


<html>

    <head>
        <meta charset="UTF-8">
        <title>By Mah</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href='{% static "css/blog.css" %}'>

        <script src="https://kit.fontawesome.com/8433ad1e14.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <div class="links">
                <a href="{% url 'main' %}">На главную</a>
                <a href="{% url 'catalog' %}">Каталог</a>
                <a href="{% url 'contacts' %}">Контакты</a>
                <a href="{% url 'customer_data' %}">Задать вопрос</a>
                <a href="{% url 'registration' %}">Личный кабинет{% if user.is_authenticated %}: {{ user }} {% endif %} </a>
            </div>
            <div class="page-header">
                <h1>By Mah</h1>

            </div>

        </header>

            {% block content %}
            {% endblock %}

        </div>
    </body>
</html>